<section class="about">
    <!-- <img src="./imgs/about/Vector.svg" class="bg_decor" alt=""> -->
    <div class="container">
        <img src="./imgs/about/wheel_1.svg" alt="" class="bg_wheel wheel_1">
        <div class="content_block">
            <div class="nav">
                <p class="col">some name</p>
                <p class="col">some name</p>
                <p class="col">some name</p>
            </div>
            <div class="content_body">
                <div class="card_about">
                    <h5 class="title">some title</h5>
                    <p class="descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
                        totam tempora sapiente incidunt enim vel sit omnis rem quaerat commodi?</p>

                    <div class="btns">
                        <a class="btn">Ավելին</a>
                        <a class="btn">Պայմաններ</a>
                    </div>
                </div>
                <div class="results">
                    <div class="col">
                        <h5 class="title">50000+</h5>
                        <p>some thing</p>
                    </div>
                    <div class="col">
                        <h5 class="title">50000+</h5>
                        <p>some thing</p>
                    </div>
                    <div class="col">
                        <h5 class="title">50000+</h5>
                        <p>some thing</p>
                    </div>
                </div>
            </div>
            <img src="./imgs/about/wheel_3.svg" alt="wheel" class="wheel">
            <img src="./imgs/about/wheel_2.svg" alt="wheel" class="wheel">
            <img src="./imgs/about/wheel_4.svg" alt="wheel" class="wheel">
        </div>
    </div>
    <span class="circle"></span>
    <span class="circle"></span>
    <span class="circle"></span>
</section>