<section class="VSCard_section">
    <div class="container">
        <div class="card card_front">
            <div class="content">
                <div class="logo">
                    <a href="">Auto Drive</a>
                    <span>Այլևս մի սպասեք, գրանցվեք</span>
                </div>
                <div class="address">
                    <p>Ք Արթիկ․</p>
                    <p>Հեռ․ (+374)-xx-xx-xx-xx</p>
                </div>
            </div>
            <div class="picture">
                <img src="https://profibank.am/image/cache/catalog/zebra/271750635_443615050737935_2598609878230018162_n-550x566h.jpg.webp"
                    alt="">
            </div>
        </div>
        <div class="card card_back">
            <div class="card_head">
                <div class="data">
                    <h5 class="title">ի դեպ պլատինե</h5>
                    <span>անձնական առաջարկի քարտ</span>
                </div>
                <img src="http://support.dt-a.com.au/wp-content/uploads/2018/06/qr-code-rule-website.png" alt=""
                    class="qr">
            </div>
            <p class="card_info">Մենք ուրախ ենք, որ Արթիկի ամենավստահելի և հեղինակավոր ավտոդպրոցներից ենք։</p>
            <div class="card_footer">
                <p>ստանալ cashback</p>
                <p>նախքան 10%</p>
            </div>
        </div>
    </div>
</section>