<div class="container">
    <div class="col">
        <img src="./imgs/nav/logo.png" alt="" class="logo">
    </div>
    <div class="col">
        <ul>
            <li>
                <a href="">Մեր մասին</a>
            </li>
            <li>
                <a href="">Թեմաներ</a>
            </li>
            <li>
                <a href="">Թեստեր</a>
            </li>
            <li>
                <a href="">Կապ</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li>
                <a href="">Մեր մասին</a>
            </li>
            <li>
                <a href="">Թեմաներ</a>
            </li>
            <li>
                <a href="">Թեստեր</a>
            </li>
            <li>
                <a href="">Կապ</a>
            </li>
        </ul>
    </div>
    <div class="col sub">
        <div class="subScribe">
            <div class="social">
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
            <p class="descr">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, facilis.
            </p>
        </div>
    </div>
</div>