<section class="info_section">
    <div class="container vanilas">
        <div class="dec"></div>
        <div class="dec"></div>
        <div class="block_info">
            <h5 class="title">Այլևս մի սպասեք, գրանցվեք այսօր և պատրաստվեք ճանապարհ ընկնել Auto Drive-ով:</h5>
            <p class="descr">
                Auto Drive-ն ունի հաջողության և բավարարվածության ապացուցված փորձ: Մենք օգնել ենք
                հազարավոր ուսանողների վարորդական իրավունքի քննություն հանձնել իրենց առաջին
                փորձից և դառնալ անվտանգ և պատասխանատու վարորդներ:
            </p>
            <div class="topics">
                <p>Ճկուն գրաֆիկներ</p>
                <p>Մատչելի գներ</p>
                <p>պրոֆեսիոնալ հրահանգիչներ</p>
                <a href="#" class="btn">Ամրագրեք</a>
            </div>
        </div>
        <img src="./imgs/info_secttion/book.png" alt="" class="book">
    </div>
</section>