<div class="container">
    <!-- Logo -->
    <a href="/" class="logo vanila">
        <img src="imgs/nav/logo.png" alt="">
    </a>
    <!-- Nav menu -->
    <ul class="nav_list">
        <li>
            <a href="/" class="nav_item">Գլխավոր</a>
        </li>
        <li>
            <a href="#" class="nav_item">Մեր մասին</a>
        </li>
        <li>
            <a href="#" class="nav_item">Թեմաներ</a>
        </li>
        <li>
            <a href="#" class="nav_item">Կապ</a>
        </li>
        <li>
            <a href="/tests" class="nav_item test">Հանձնել թեստ</a>
        </li>
        <!-- <button>X</button> -->
    </ul>
    <!-- Mobile buton -->
    <button class="mobile_btn">
        <img src="./imgs/nav/menu.png" alt="">
    </button>

    <div class="mask mask_menu"></div>
</div>