<section class="out_team">
    <div class="container">
        <h5 class="title">Մեր թիմը</h5>
        <div class="tem_cards">
            <div class="card">
                <img src="https://www.thimble.com/wp-content/uploads/2022/05/Personal-Trainer-Salary-Guide.jpg"
                    alt="">
                <div class="user_info">
                    <h5>Samo</h5>
                    <p class="profession">Մասնագիտություն</p>
                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <p class="descr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, temporibus.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="https://blogscdn.thehut.net/app/uploads/sites/1160/2019/01/iStock-894946888_750x450.jpg"
                    alt="">
                <div class="user_info">
                    <h5>Samo</h5>
                    <p class="profession">Մասնագիտություն</p>
                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <p class="descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, temporibus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://www.bonddrivingschool.com/images/adult1.jpg" alt="">
                <div class="user_info">
                    <h5>Samo</h5>
                    <p class="profession">Մասնագիտություն</p>
                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <p class="descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, temporibus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://www.bonddrivingschool.com/images/adult1.jpg" alt="">
                <div class="user_info">
                    <h5>Samo</h5>
                    <p class="profession">Մասնագիտություն</p>
                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <p class="descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic,
                            temporibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>