<section class="testimonial">
    <div class="container">
        <div class="picture">
            <img src="https://s3.amazonaws.com/fzautomotive/dealers/616daf93865e5.png" alt="">
        </div>
        <div class="info">
            <h5 class="title">some title ...</h5>
            <p class="descr">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos possimus adipisci
                minima, itaque in optio, assumenda nihil, veritatis tempore id iusto! Quo quasi
                inventore perspiciatis molestias aspernatur, facere vero iure!
            </p>
            <button type="button" class="btn">Իմանալ ավելին</button>
        </div>
    </div>
</section>